
body {
   margin: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background: linear-gradient(145deg, #6a11cb, #2575fc);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: #fff;
}

.login-container {
   width: 100%;
   max-width: 400px;
   background: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   text-align: center;
   color: #333;
}

.login-form h1 {
   margin-bottom: 20px;
   font-size: 24px;
   color: #333;
}

.form-group {
   margin-bottom: 15px;
   text-align: left;
}

label {
   display: block;
   margin-bottom: 5px;
   font-size: 14px;
}

input {
   width: 90%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 14px;
}

input:focus {
   outline: none;
   border-color: #2575fc;
   box-shadow: 0 0 4px rgba(37, 117, 252, 0.6);
}

.btn {
   width: 70%;
   padding: 10px;
   background-color: #2575fc;
   border: none;
   border-radius: 5px;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.btn:hover {
   background-color: #1a5bbd;
}

.signup-link {
   margin-top: 10px;
   font-size: 14px;
}

.signup-link a {
   color: #2575fc;
   text-decoration: none;
}

.signup-link a:hover {
   text-decoration: underline;
}


@media (max-width: 600px) {
   .login-container {
       padding: 15px;
   }

   .login-form h1 {
       font-size: 20px;
   }

   .btn {
       font-size: 14px;
   }
}
